# DATABRICKS
DATABRICKS_SERVER_HOSTNAME=your-workspace.cloud.databricks.com
DATABRICKS_HTTP_PATH=/sql/1.0/warehouses/your-warehouse-id
DATABRICKS_TOKEN=your-databricks-token-here

# SLACK
SLACK_BOT_TOKEN=xoxb-your-bot-token
SLACK_APP_TOKEN=xapp-your-app-token
SLACK_SIGNING_SECRET=your-signing-secret

# CLAUDE (production only — not used in prototype)
ANTHROPIC_API_KEY=sk-ant-your-key-here

# CEREBRAS
CEREBRAS_API_KEY = csk-your-key-here

# APP
FLASK_PORT=5000
